<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="row">
        
        <div class="col-sm-6">
            <label>
                Nombre
            </label>
            <input type="text" class="form-control" name="">
        </div>
        
        <div class="col-sm-6">
            <label>
                Nivel
            </label>
            <input type="text" class="form-control" name="">
        </div>
        
        <div class="col-sm-6">
            <label>
                Especie
            </label>
            <input type="text" class="form-control" name="">
        </div>

        <div class="row mt-4">  
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>

    </div>

</form>